.skel{
    background-color: 	#E0E0E0;
    animation: animate 1s linear infinite alternate;
}

@keyframes animate {
    0% {
        background-color: hsl(200, 20%, 70%);
      }
    
    100% {
        background-color: hsl(200, 20%, 95%);
      }
}