.App {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(230, 245, 255);
}


#slider::-webkit-scrollbar {
  display: none;
}


#slider{
  scroll-behavior: smooth;
  scrollbar-width: none;
}
